<section id="screenshot" class="screenshot padding-top-bottom">
    <div class="screenshot-decor">
        <div class="screenshot-circle1">
            <img src="assets/images/feature-circle-two.png" alt="feature-circle-two"/>
        </div>
        <div class="screenshot-circle2">
            <img src="assets/images/feature-circle.png" alt="feature-circle"/>
        </div>
        <div class="screenshot-circle3">
            <img src="assets/images/main-banner1.png" alt="feature-circle-three"/>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="screenshot-contain1">
                    <img src="assets/images/light.png" alt="light" class="mobile-light-left"/>
                    <img src="assets/images/screenshot-mob.png" alt="screenshot-mob" class="mob-mocup img-fluid"/>
                    <img src="assets/images/light-right.png" alt="light-right" class="mobile-light-right"/>
                    <owl-carousel-o [options]="customOptions" class="screenshot-carousel">
                        <ng-template carouselSlide *ngFor="let slide of slidesStore">
                            <div class="screenshot-item">
                                <img [src]="slide.image" alt="app">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>