<section id="about" class="about">
  <div class="about-decor">
    <div class="about-circle1">
      <img src="assets/images/feature-circle.png" alt="team" />
    </div>
    <div class="about-circle2">
      <img src="assets/images/main-banner1.png" alt="banner" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="about-contain">
          <div>
            <h2 class="title">
                Especially designed for
              <span>you</span>
            </h2>
            <p class="caption-about">
              Sort.it is a health-focused platform specially designed for you.
              We’ll help you improve your lifestyle by strategizing your health
              and productivity goals in a personalized manner by tracking your
              day to day activities and expenses.
            </p>
            <div class="row sm-mb">
              <div *ngFor="let dataList of aboutData" class="col-6">
                <div class="about-style">
                  <li *ngFor="let data of dataList" class="abt-hover">
                    <!-- <div class="about-icon">
                      <div class="icon-hover">
                        <img [src]="data.icon" [alt]="data.text"/>
                      </div>
                    </div> -->
                    <div class="about-text">
                      <h3 [innerHTML]="data.text" style="padding-left: 0; color: #1297e7;"></h3>
                    </div>
                  </li>
                </div>
              </div>
            </div>
            <div class="top-margin">
              <button
                type="button"
                class="btn btn-custom theme-color theme-color theme-color2"
              >
                view more
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 d-medium-none">
        <div class="about-right">
          <div class="about-phone">
            <img
              src="assets/images/summaryImg.png"
              alt="aboutus"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
