<section id="about" class="about">
  <div class="about-decor">
    <div class="about-circle1">
      <img src="assets/images/team1.png" alt="team" />
    </div>
    <div class="about-circle2">
      <img src="assets/images/main-banner1.png" alt="banner" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="about-contain">
          <div>
            <h2 class="title">
              about the
              <span>tovo app</span>
            </h2>
            <p class="caption-about">
              TOVO is dynamic, high-performance and easy to use landing page
              theme. The theme is developed focusing on the attractive designs
              and easy customizable features.
            </p>
            <div class="row sm-mb">
              <div *ngFor="let dataList of aboutData" class="col-6">
                <ul class="about-style">
                  <li *ngFor="let data of dataList" class="abt-hover">
                    <div class="about-icon">
                      <div class="icon-hover">
                        <img [src]="data.icon" [alt]="data.text"/>
                      </div>
                    </div>
                    <div class="about-text">
                      <h3 [innerHTML]="data.text"></h3>
                    </div>
                  </li>
                  </ul>
              </div>
            </div>
            <div class="top-margin">
              <button type="button" class="btn btn-custom theme-color theme-color">view more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 d-medium-none">
        <div class="about-right">
          <div class="about-phone">
            <img src="assets/images/aboutus.png" alt="aboutus" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
