<section id="home" class="home">
  <div class="home-decor">
    <div class="home-circle1">
      <img src="assets/images/main-banner3.png" alt />
    </div>
    <div class="home-circle2">
      <img src="assets/images/main-banner12.png" alt />
    </div>
    <div class="home-circle3">
      <img src="assets/images/main-banner1.png" alt />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="home-contain">
          <div>
            <img
              src="assets/images/logoimage.png"
              alt="caption-img"
              class="caption-img"
            />
            <h4>Landing Page For</h4>
            <h1>
              t
              <span class="f-bold">o</span>
              v
              <span class="f-bold">o</span>
              <span class="f-bold f-color">app</span>
            </h1>
            <p>
              Enhance your business ideas with Powerful, Responsive, Elegant
              TOVO Theme.
            </p>
            <a>
              <img
                src="assets/images/appstore.png"
                alt="appstore"
                class="store"
              />
            </a>
            <a>
              <img
                src="assets/images/play-store.png"
                alt="play-store"
                class="ml-20 store"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 offset-md-1">
        <div class="home-right">
          <img
            data-tilt
            data-tilt-perspective="110"
            data-tilt-speed="400"
            data-tilt-max="1.2"
            src="assets/images/mobile.png"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
