.home-contain {
//   .sorted-image {
//     width: 35%;
//   }
  .tagline-color {
      color: #212529;
  }
  .name-color {
      color: #212529;
  }
  h3{ text-transform: lowercase; }
  h3:first-letter { text-transform: uppercase; }
}
