<section class="p-0">
  <div class="container-fluid">
    <div class="bottom-section">
      <div class="row">
        <div class="col-md p-0">
          <div class="address-bar">
            <div>
              <ul class="footer-style">
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/locate.png" />
                  </div>
                  <div class="footer-address">
                    <a>Office Address</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/telephone.png" />
                  </div>
                  <div class="footer-address">
                    <a>12345678</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fotter-email.png" />
                  </div>
                  <div class="footer-address">
                    <a>email@xyz.com</a>
                  </div>
                </li>
                <li>
                  <div class="footer-icon">
                    <img src="assets/images/fax.png" />
                  </div>
                  <div class="footer-address">
                    <a>123-456-789</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
